h1{color: red;}
h2{color: rgb(55, 233, 11);
font-style: italic;}

#file{font-style: italic; 
text-decoration: underline;}

span{background-color:  yellow; font-weight:bold;}

#list{color: brown; letter-spacing:  5.5px;}

#p1{color: brown;font-size:18px;}

#p2{color: brown; font-size:9px;}

#p3{color: brown; font-size: 17px; font-style: italic;}

a{background-color: yellow; color: brown; text-decoration: none;}
